In [17]:
import pandas as pd
import numpy as np
from io import StringIO

# КОНСПЕКТ по книге проекта Devpractice - "Pandas. Работа с данными"

###### Глава 1. Структуры данных в Pandas: Series и DataFrame
1.1 Структура данных Series

1.1.1 Создание Series из списка Python

1.1.2 Создание Series из ndarray массива из numpy

1.1.3 Создание Series из словаря (dict)

1.1.4 Создание Series с использованием константы

1.1.5 Работа с элементами Series

1.2 Структура данных DataFrame

1.2.1 Создание DataFrame из словаря

1.2.2 Создание DataFrame из списка словарей

1.2.3 Создание DataFrame из двумерного массива

1.2.4 Работа с элементами DataFrame

###### Глава 2. Доступ к данным в структурах pandas
2.1 Два подхода получения доступа к данным в pandas

2.2 Доступ к данным структуры Series

2.2.1 Доступ с использованием меток

2.2.2 Доступ с использованием целочисленных индексов

2.2.3 Доступ с использованием callable-функции

2.2.4 Доступ с использованием логического выражения

2.3 Доступ к данным структуры DataFrame

2.3.1 Доступ с использованием меток

2.3.2 Доступ с использованием callable-функции

2.3.3 Доступ с использованием логического выражения

2.4 Использование атрибутов для доступа к данным

2.5 Получение случайного набора из структур pandas

2.6 Индексация с использованием логических выражений

2.7 Использование isin при работы с данными в pandas

###### Глава 3. Типы данных в pandas
3.1 Типы данных

3.2 Инструменты для работы с типами

3.2.1 astype()

3.2.2 Функции подготовки данных

3.2.3 Вспомогательные функции

3.2.4 Выборка данных по типу

3.3 Категориальные типы

3.3.1 Создание структуры с набором категориальных данных

3.3.2 Порядковые категории

###### Глава 4. Работа с пропусками в данных
4.1 Pandas и отсутствующие данные

4.2 Замена отсутствующих данных

4.3 Удаление объектов/столбцов с отсутствующими данными

###### Глава 5. Работа со структурами данных в pandas: удаление, объединение, расширение, группировка
5.1 Добавление элементов в структуру pandas

5.1.1 Добавление в Series

5.1.2 Добавление в DataFrame

5.2 Удаление элементов из структуры в pandas

5.2.1 Удаление из Series

5.2.2 Удаление из DataFrame

5.3 Объединение данных

5.3.1 Использование метода concat

5.3.2 Использование Database-style подхода

###### Глава 6. Работа с внешними источниками данных
6.1 Работа с данными в формате CSV

6.1.1 Чтение данных

6.1.2 Запись данных

6.2 Работа с данными в формате JSON

6.2.1 Чтение данных

6.2.2 Запись данных

6.3 Работа с Excel файлами

6.3.1 Чтение данных

6.3.2 Запись данных

###### Глава 7. Операции над данными
7.1 Арифметические операции

7.2 Логические операции

7.3 Статистики

7.4 Функциональное расширение

7.4.1 Потоковая обработка данных

7.4.2 Применение функции к элементам строки или столбца

7.4.3 Агрегация (API)

7.4.4 Трансформирование данных

7.5 Использование методов типа str для работы с текстовыми данными

###### Глава 8. Настройка pandas
8.1 API для работы с настройками pandas

8.2 Настройки библиотеки pandas

###### Глава 9. Инструменты для работы с данными
9.1 Скользящее окно. Статистики

9.2 Расширяющееся окно. Статистики

9.3 Время-ориентированное скольжение

9.4 Агрегация данных

###### Глава 10. Временные ряды
10.1 Работа с временными метками

10.1.1 Создание временной метки

10.1.2 Создание ряда временных меток

10.2 Работа с временными интервалами

10.2.1 Создание временного интервала

10.2.2 Создание ряда временных интервалов

10.3 Использование временных рядов в качестве индексов

###### Глава 11. Визуализация данных
11.1 Построение графиков

11.1.1 Линейные графики

11.1.2 Столбчатые диаграммы

11.1.3 Гистограммы

11.1.4 График с заливкой

11.1.5 Точечный график

11.1.6 Круговая диаграмма

11.1.7 Диаграмма из шестиугольников

11.2 Настройка внешнего вида диаграммы

11.2.1 Настройка внешнего вида линейного графика

11.2.2 Вывод графиков на разных плоскостях

###### Глава 12. Настройка внешнего вида таблиц
12.1 Изменение формата представления данных

12.2 Создание собственных стилей

12.2.1 Задание цвета надписи для элементов данных

12.2.2 Задание цвета ячейки таблицы

12.2.3 Задание цвета строки таблицы

12.3 Встроенные инструменты задания стилей

12.3.1 Подсветка минимального и максимального значений

12.3.2 Подсветка null элементов

12.3.3 Задание тепловой карты

12.3.4 Наложение столбчатой диаграммы

12.3.5 Цепочки вычислений (Method Chaining) для настройки внешнего вида таблицы

Заключение

# Глава 1. Структуры данных в Pandas: Series и DataFrame

## 1.1 Структура данных Series

Создать структуру Series можно на базе следующих типов данных:
- словарь (dict) Python;
- список (list) Python;
- массив ndarray (из библиотеки numpy);
- скалярная величина.

Конструктор класса Series выглядит следующим образом:
Series(data=None, index=None, dtype=None, name=None, copy=False,fastpath=False)

Опишем некоторые из параметров конструктора:

• data: массив, скалярное значение, dict; значение по умолчанию:
None
◦ Структура, на базе которой будет построен Series.

• index: одномерный массив; значение по умолчанию: None
◦ Список меток, который будет использоваться для доступа к
элементам Series. Длина списка должна быть равна длине data.

• dtype: numpy.dtype; значение по умолчанию: None
◦ Объект, определяющий тип данных.

• copy: bool; значение по умолчанию: False
◦ Если параметр равен True, то будет создана копия массива
данных.

В большинстве случаев, при создании Series, используют только
первые два параметра.

### 1.1.1 Создание Series из списка Python

In [2]:
s1 = pd.Series([1, 2, 3, 4, 5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

Для доступа к элементам Series, в данном случае, можно использовать только положительные целые числа - левый столбец чисел, начинающийся с нуля - это как раз и есть индексы элементов структуры, которые представлены в правом столбце.

In [4]:
s1[0]

1

Передадим в качестве второго элемента список строк (в нашем случае -
это отдельные символы). Это позволит обращаться к элементам
структуры Series не только по численному индексу, но и по метке, что
сделает работу с таким объектом, похожей на работу со словарем:

In [5]:
s2 = pd.Series([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'])
s2

a    1
b    2
c    3
d    4
e    5
dtype: int64

Обратите внимание на левый столбец, в нем содержатся метки, которые
мы передали в качестве index-параметра при создании структуры.
Правый столбец - это по-прежнему элементы структуры.

### 1.1.2 Создание Series из ndarray массива из numpy

Создадим массив ndarray из пяти чисел, аналогичный списку из
предыдущего раздела. Библиотеки pandas и numpy должны быть
предварительно импортированы:

In [6]:
ndarr = np.array([1, 2, 3, 4, 5])

In [7]:
type(ndarr)

numpy.ndarray

Теперь создадим Series с буквенными метками:

In [8]:
s3 = pd.Series(ndarr, ['a', 'b', 'c', 'd', 'e'])
print(s3)

a    1
b    2
c    3
d    4
e    5
dtype: int32

Как вы можете видеть, результат аналогичен тому, чтобы был получен с
использованием списков Python.

### 1.1.3 Создание Series из словаря (dict)

Еще один способ создать структуру Series - это использовать словарь 
для одновременного задания меток и значений:

In [9]:
d = {'a':1, 'b':2, 'c':3}
s4 = pd.Series(d)
print(s4)

a    1
b    2
c    3
dtype: int64

Ключи (keys) из словаря d станут метками структуры s4, а значения
(values) словаря — значениями.

### 1.1.4 Создание Series с использованием константы

Рассмотрим еще один способ создания Series. На этот раз значения в
ячейках структуры будут одинаковыми:

In [10]:
a = 7
s5 = pd.Series(a, ['a', 'b', 'c'])
print(s5)

a    7
b    7
c    7
dtype: int64

В полученной структуре имеется три элемента с одинаковым
содержанием.

### 1.1.5 Работа с элементами Series

Индексации и работе с элементами Series и DataFrame будет посвящена
отдельная глава, сейчас рассмотрим основные подходы, которые
предоставляет pandas.
К элементам Series можно обращаться по численному индексу, при
таком подходе работа со структурой не отличается от работы со
списками в Python:

In [12]:
s6 = pd.Series([1, 2, 3, 4, 5], ['a', 'b', 'c', 'd', 'e'])
print(s6)
s6[2]

a    1
b    2
c    3
d    4
e    5
dtype: int64

3

Можно использовать метку, тогда работа с Series будет похожа на работу
со словарем (dict) в Python:

In [13]:
s6['d']

4

Доступен синтаксис работы со срезами:

In [14]:
s6[:2]

a    1
b    2
dtype: int64

В поле для индекса можно поместить условное выражение:

In [15]:
s6[s6 <= 3]

a    1
b    2
c    3
dtype: int64

Со структурами Series можно работать как с векторами: складывать,
умножать вектор на число и т.п.:

In [16]:
s7 = pd.Series([10, 20, 30, 40, 50], ['a', 'b', 'c', 'd', 'e'])

При сложении структур, их элементы складываются между собой:

In [17]:
s6 + s7

a    11
b    22
c    33
d    44
e    55
dtype: int64

При умножении структуры на число, все элементы структуры
умножаются на данный множитель:

In [18]:
s6 * 3

a     3
b     6
c     9
d    12
e    15
dtype: int64

## 1.2 Структура данных DataFrame

Если Series представляет собой одномерную структуру, которую для
себя можно представить, как таблицу с одной строкой, то DataFrame -
это уже двумерная структура - полноценная таблица с множеством строк
и столбцов.

Конструктор класса DataFrame выглядит так:
DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

Параметры конструктора:

• data: ndarray, dict или DataFrame; значение по умолчанию: None
◦ Данные, на базе которых будет создан DataFrame.

• index: одномерный массив; значение по умолчанию: None
◦ Список меток для записей (имена строк таблицы).

• columns: одномерный массив; значение по умолчанию: None
◦ Список меток для полей (имена столбцов таблицы).

• dtype: numpy.dtype; значение по умолчанию: None
◦ Объект, определяющий тип данных.

• copy: bool; значение по умолчанию: False
◦ Если параметр равен True, то будет создана копия массива данных.

Структуру DataFrame можно создать на базе следующих типов данных:
• словарь (dict), в качестве элементов которого могут выступать:
одномерные ndarray, списки, другие словари, структуры Series;
• двумерный ndarray;
• структура Series;
• другой DataFrame.

Рассмотрим на практике различные подходы к созданию DataFrame’ов.

### 1.2.1 Создание DataFrame из словаря

In [ ]:
Для создания DataFrame будем использовать словарь, элементами
которого могут быть списки, структуры Series и т.д. Начнем со варианта,
когда элементы — это структуры Series:

In [19]:
d = {'price':pd.Series([1, 2, 3], index=['v1', 'v2', 'v3']),'count':
pd.Series([10, 12, 7], index=['v1', 'v2', 'v3'])}
df1 = pd.DataFrame(d)
print(df1)

    price  count
v1      1     10
v2      2     12
v3      3      7

Индексы созданного DataFrame:

In [20]:
print(df1.index)

Index(['v1', 'v2', 'v3'], dtype='object')

Столбцы созданного DataFrame:

In [21]:
print(df1.columns)

Index(['price', 'count'], dtype='object')

Построим аналогичный словарь, но на элементах ndarray:

In [22]:
d2 = {'price':np.array([1, 2, 3]), 'count': np.array([10, 12, 7])}
df2 = pd.DataFrame(d2, index=['v1', 'v2', 'v3'])
print(df2)

    price  count
v1      1     10
v2      2     12
v3      3      7

In [24]:
print(df2.index)

Index(['v1', 'v2', 'v3'], dtype='object')

In [25]:
print(df2.columns)

Index(['price', 'count'], dtype='object')

Как видно - результат аналогичен предыдущему. Вместо ndarray можно
использовать обычный список Python.

### 1.2.2 Создание DataFrame из списка словарей

До этого мы создавали DataFrame из словаря, элементами которого
были структуры Series, списки и массивы, сейчас мы создадим
DataFrame из списка, элементами которого являются словари:

In [26]:
d3 = [{'price': 3, 'count':8}, {'price': 4, 'count': 11}]
df3 = pd.DataFrame(d3)
print(df3)

   price  count
0      3      8
1      4     11

Для получения сводной информации по созданному DataFrame можно
использовать функцию info(). Она выводит данные о типе структуры,
количестве записей, количестве non-null элементов в столбцах, типы и
количество хранимых элементов и объем используемой памяти:

In [29]:
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   2 non-null      int64
 1   count   2 non-null      int64
dtypes: int64(2)
memory usage: 160.0 bytes
None

### 1.2.3 Создание DataFrame из двумерного массива

Создать DataFrame можно также и из двумерного массива, в нашем
примере это будет ndarray из библиотеки numpy:

In [30]:
nda1 = np.array([[1, 2, 3], [10, 20, 30]])
df4 = pd.DataFrame(nda1)
print(df4)

    0   1   2
0   1   2   3
1  10  20  30

### 1.2.4 Работа с элементами DataFrame

Работа с элементами DataFrame - тема достаточно обширная, и она
будет раскрыта в главе 3. Сейчас рассмотрим наиболее часто
используемые подходы для доступа к элементам структуры. Основные
способы представлены здесь:

### Примеры работы с элементами DataFrame

##### Операция
Выбор столбца 
##### Синтаксис 
df[col] 
##### Возвращаемый результат
Series

##### Операция
Выбор строки по метке 
##### Синтаксис 
df.loc[label] 
##### Возвращаемый результат
Series

##### Операция
Выбор строки по индексу 
##### Синтаксис 
df.iloc[loc] 
##### Возвращаемый результат
Series

##### Операция
Срез по строкам 
##### Синтаксис 
df[0:4]
##### Возвращаемый результат
DataFrame

##### Операция
Выбор строк, отвечающих условию
##### Синтаксис 
df[bool_vec]
##### Возвращаемый результат
DataFrame

Рассмотрим работу с данными операциями на практике. Для начала
создадим DataFrame:

In [31]:
d = {'price':np.array([1, 2, 3]), 'count': np.array([10, 20, 30])}
df = pd.DataFrame(d, index=['a', 'b', 'c'])
print(df)

   price  count
a      1     10
b      2     20
c      3     30

#### Операция: выбор столбца:

In [37]:
df['count']

a    10
b    20
c    30
Name: count, dtype: int32

#### Операция: выбор строки по метке:

In [33]:
df.loc['a']

price     1
count    10
Name: a, dtype: int32

#### Операция: выбор строки по индексу:

In [34]:
df.iloc[1]

price     2
count    20
Name: b, dtype: int32

#### Операция: срез по строкам:

In [38]:
df[0:2]

   price  count
a      1     10
b      2     20

#### Операция: выбор строк, отвечающих условию:

In [39]:
df[df['count'] >= 20]

   price  count
b      2     20
c      3     30

# Глава 2. Доступ к данным в структурах pandas

## 2.1 Два подхода получения доступа к данным в pandas

При работе со структурами Series и DataFrame, как правило, используют
два основных способа получения значений элементов.

### Первый способ 
Первый способ основан на использовании меток, в этом случае работа
ведется через метод .loc. Если вы обращаетесь к отсутствующей метке,
то будет сгенерировано исключение KeyError. 

##### Такой подход позволяет использовать:

метки в виде отдельных символов ['a'] или чисел [5], числа используются в качестве меток, если при создании структуры не был указан список с метками;

• список меток ['a', 'b', 'c'];

• срез меток ['a':'c'];

• массив логических переменных;

• callable-функция с одним аргументом.

### Второй способ
Второй способ основан на использовании целых чисел для доступа к
данным, он предоставляется через метод .iloc. Если вы обращаетесь к
несуществующему элементу, то будет сгенерировано исключение
IndexError. Логика использования .iloc очень похожа на работу с
.loc. 

##### При таком подходе можно использовать:

• отдельные целые числа для доступа к элементам структуры;

• массивы целых чисел [0, 1, 2];

• срезы целых чисел [1:4];

• массивы логических переменных;

• callable-функцию с одним аргументом.

В зависимости от типа структуры, будет меняться форма .loc:
• для Series, она выглядит так: s.loc[indexer];
• для DataFrame так: df.loc[row_indexer, column_indexer].

Создадим объекты типов Series и DataFrame, которые в дальнейшем
будут использованы нами для экспериментов.

In [41]:
# Структура Series:
s = pd.Series([10, 20, 30, 40, 50], ['a', 'b', 'c', 'd', 'e'])
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [44]:
# Структура DataFrame:
d = {'price':[1, 2, 3], 'count': [10, 20, 30], 'percent': [24, 51, 71]}
df = pd.DataFrame(d,  index=['a', 'b', 'c'])
df

   price  count  percent
a      1     10       24
b      2     20       51
c      3     30       71

## 2.2 Доступ к данным структуры Series

### 2.2.1 Доступ с использованием меток

При использовании меток для доступа к данным можно применять один
из следующих подходов:

• первый, когда вы записываете имя переменной типа Series и в
квадратных скобках указываете метку, по которой хотите
обратиться (пример: s['a']);
• второй, когда после имени переменной пишите .loc и далее
указываете метку в квадратных скобках (пример: s.loc['a']).

#### Обращение по отдельной метке.
Элемент с меткой 'a':

In [49]:
s['a']

10

#### Обращение по массиву меток.
Элементы с метками 'a', 'c' и 'e':

In [48]:
s[['a', 'c', 'e']]

a    10
c    30
e    50
dtype: int64

#### Обращение по срезу меток.
Элементы структуры с метками от 'a' до 'e':

In [50]:
s['a':'c']

a    10
b    20
c    30
dtype: int64

### 2.2.2 Доступ с использованием целочисленных индексов

При работе с целочисленными индексами, индекс можно ставить сразу
после имени переменной в квадратных скобках (пример: s[1]) или
воспользоваться .iloc (пример: s.iloc[1]).

#### Обращение по отдельному индексу.
Элемент с индексом 1:

In [51]:
s[1]

20

#### Обращение с использованием списка индексов.
Элементы с индексами 1, 2 и 3:

In [52]:
s[[1, 2 ,3]]

b    20
c    30
d    40
dtype: int64

#### Обращение по срезу индексов.
Получение первых трех элементов структуры:

In [53]:
s[:3]

a    10
b    20
c    30
dtype: int64

### 2.2.3 Доступ с использованием callable-функции

При таком подходе в квадратных скобках указывается не индекс или
метка, а функция (как правило, это lambda-функция), которая
используется для выборки элементов структуры.

#### Элементы, значение которых больше либо равно 30:

In [54]:
s[lambda x: x>= 30]

c    30
d    40
e    50
dtype: int64

### 2.2.4 Доступ с использованием логического выражения

Данный подход похож на работу с callable-функцией: в квадратных
скобках записывается логическое выражение, согласно которому будет
произведен отбор.

#### Элементы, значение которых больше 30:

In [55]:
s[s > 30]

d    40
e    50
dtype: int64

## 2.3 Доступ к данным структуры DataFrame

### 2.3.1 Доступ с использованием меток

Рассмотрим различные варианты использования меток, которые могут
быть как именами столбцов таблицы, так и именами строк.

#### Обращение к конкретному столбцу.
Элементы столбца 'count':

In [56]:
df['count']

a    10
b    20
c    30
Name: count, dtype: int64

#### Обращение с использованием массива столбцов.
Элементы столбцов 'count' и 'price':

In [57]:
df[['count','price']]

   count  price
a     10      1
b     20      2
c     30      3

#### Обращение по срезу меток.
Элементы с метками от 'a' до 'b':

In [58]:
df['a':'b']

   price  count  percent
a      1     10       24
b      2     20       51

### 2.3.2 Доступ с использованием callable-функции

Подход в работе с callable-функцией для DataFrame аналогичен тому,
что используется для Series, только при формировании условий
необходимо дополнительно указывать имя столбца.

#### Получим все элементы, у которых значение в столбце 'count' больше 15:

In [59]:
df[lambda x: x['count'] > 15]

   price  count  percent
b      2     20       51
c      3     30       71

### 2.3.3 Доступ с использованием логического выражения

При формировании логического выражения необходимо указывать
имена столбцов, также как и при работе с callable-функциями, по
которым будет производиться выборка.

#### Получим все элементы, у которых 'price' больше либо равен 2:

In [60]:
df[df['price'] >= 2]

   price  count  percent
b      2     20       51
c      3     30       71

## 2.4 Использование атрибутов для доступа к данным

Для доступа к данным можно использовать атрибуты структур, в
качестве которых выступают метки. Начнем со структуры Series.

In [61]:
# Воспользуемся уже знакомой нам структурой:
s = pd.Series([10, 20, 30, 40, 50], ['a', 'b', 'c', 'd', 'e'])

Для доступа к элементу через атрибут необходимо указать его через
точку после имени переменной:

In [62]:
s.a

10

In [63]:
s.c

30

Т.к. структура s имеет метки 'a', 'b', 'c', 'd', 'e', то для доступа к
элементу с меткой 'a' используется синтаксис s.a.

Этот же подход можно применить для переменной типа DataFrame:

In [65]:
d = {'price':[1, 2, 3], 'count': [10, 20, 30], 'percent': [24, 51, 71]}
df = pd.DataFrame(d, index=['a', 'b', 'c'])

#### Получим доступ к столбцу 'price':

In [66]:
df.price

a    1
b    2
c    3
Name: price, dtype: int64

## 2.5 Получение случайного набора из структур pandas

Библиотека pandas предоставляет возможность получить случайный
набор данных из уже существующей структуры. Такой функционал
предоставляет как Series, так и DataFrame. Случайная подвыборка,
извлекается с помощью метода sample().

Для начала разберем работу с этим методом на примере структуры
Series.

#### Для выбора случайного элемента из Series используется следующий синтаксис:

In [67]:
s.sample()

d    40
dtype: int64

##### Можно сделать выборку из нескольких элементов, для этого нужно передать количество элементов через параметр n:

In [68]:
s.sample(n=3)

e    50
c    30
b    20
dtype: int64

#### Есть возможность указать долю от общего числа объектов в структуре, за это отвечает параметр frac:

In [69]:
s.sample(frac=0.3)

c    30
a    10
dtype: int64

Дополнительно, в качестве аргумента, мы можем передать вектор весов,
длина которого должна быть равна количеству элементов в структуре, а
сумма элементов вектора - единице. Вес, в данном случае, это
вероятность появления элемента в выборке.

#### В нашей тестовой структуре пять элементов, сформируем вектор весов для нее и сделаем выборку из трех элементов:

In [70]:
w = [0.1, 0.2, 0.5, 0.1, 0.1]
s.sample(n = 3, weights=w)

c    30
e    50
b    20
dtype: int64

#### Возможности метода sample() доступны и для структуры DataFrame:

In [71]:
d = {'price':[1, 2, 3, 5, 6], 'count': [10, 20, 30, 40, 50],'percent': [24, 51, 71, 25, 42]}
df = pd.DataFrame(d)
df.sample()

   price  count  percent
1      2     20       51

#### При работе с DataFrame можно указать ось. Для выбора столбца случайным образом задайте параметру axis значение равное 1:

In [72]:
df.sample(axis=1)

   count
0     10
1     20
2     30
3     40
4     50

#### Выбор двух столбцов случайным образом:

In [73]:
df.sample(n=2, axis=1)

   price  percent
0      1       24
1      2       51
2      3       71
3      5       25
4      6       42

#### Выбор двух строк случайным образом:

In [74]:
df.sample(n=2)

   price  count  percent
3      5     40       25
1      2     20       51

## 2.6 Индексация с использованием логических выражений

На практике часто приходится делать подвыборку из существующего
набора данных. Например: получить все товары, скидка на которые
больше пяти процентов, или выбрать из базы информацию о
сотрудниках мужского пола старше 30 лет. Это очень похоже на процесс
фильтрации при работе с таблицами или получение выборки из базы
данных. Похожий функционал реализован в pandas, и мы уже касались
этого вопроса, когда рассматривали различные подходы к индексации:
условное выражение должно быть записано вместо индекса в
квадратных скобках при обращении к элементам структуры.

##### При работе с Series возможны следующие варианты использования:

In [75]:
s = pd.Series([10, 20, 30, 40, 50, 10, 10], ['a', 'b', 'c', 'd', 'e', 'f', 'g'])
s[s>30]

d    40
e    50
dtype: int64

#### Получим все элементы структуры, значение которых равно 10:

In [76]:
s[s==10]

a    10
f    10
g    10
dtype: int64

#### Элементы структуры s, значения которых находятся в интервале [30, 50):

In [77]:
s[(s>=30) & (s<50)]

c    30
d    40
dtype: int64

#### При работе с DataFrame необходимо указывать столбец, по-которому будет производиться фильтрация (выборка):

In [79]:
d = {'price':[1, 2, 3, 5, 6], 'count': [10, 20, 30, 40, 50], 'percent': [24, 51, 71, 25, 42], 'cat': ['A', 'B', 'A', 'A', 'C']}
df = pd.DataFrame(d)
df

   price  count  percent cat
0      1     10       24   A
1      2     20       51   B
2      3     30       71   A
3      5     40       25   A
4      6     50       42   C

#### Выделим список строк таблицы, у которых значение в поле 'price' больше, чем 3:

In [80]:
df[df['price'] > 3]

   price  count  percent cat
3      5     40       25   A
4      6     50       42   C

В качестве логического выражения можно использовать довольно
сложные конструкции с применением функций map, filter, lambda-
выражений и т.п.

#### Получим список индексов структуры df, у которых значение поля 'cat' равно 'A':

In [81]:
fn = df['cat'].map(lambda x: x == 'A')
df[fn]

   price  count  percent cat
0      1     10       24   A
2      3     30       71   A
3      5     40       25   A

In [82]:
fn

0     True
1    False
2     True
3     True
4    False
Name: cat, dtype: bool

## 2.7 Использование isin при работы с данными в pandas

По структурам данных pandas можно строить массивы с элементами
типа bool, по которому можно проверить наличие или отсутствие того
или иного элемента в исходной структуре.

Будем работать со следующей структурой:

In [83]:
s = pd.Series([10, 20, 30, 40, 50, 10, 10], ['a', 'b', 'c', 'd', 'e', 'f', 'g'])

Построим новую структуру с элементами типа bool, такую, что если
значение элемента исходной структуры находится в списке [10, 20], то
значение элемента равно True, в противном случае – False:

In [84]:
s.isin([10, 20])

a     True
b     True
c    False
d    False
e    False
f     True
g     True
dtype: bool

Работа с DataFrame аналогична работе со структурой Series:

In [85]:
df = pd.DataFrame({'price':[1, 2, 3, 5, 6], 'count': [10, 20, 30, 40, 50], 'percent': [24, 51, 71, 25, 42]})

Если значение элемента исходной структуры находится в списке [1, 3,
25, 30, 10], то значение элемента в новой структуре равно True, иначе –
False:

In [86]:
df.isin([1, 3, 25, 30, 10])

   price  count  percent
0   True   True    False
1  False  False    False
2   True   True    False
3  False  False     True
4  False  False    False

# Глава 3. Типы данных в pandas

При изучении любого языка программирования одной из важнейших тем,
которую нужно освоить, является система типов. Например, при работе с
языком Python вы сталкивались с такими типами как int и float для
работы с числами, str - для работы со строками; есть типы более
сложные, такие как списки, словари, множества. Библиотека pandas
содержит свой набор типов данных для эффективного хранения и
манипулирования данными. В предыдущих главах вы уже сталкивались
с таким понятием как dtype: например, при выводе содержимого Series с
помощью функции print, когда тип хранящихся значений отображается
в последней строке:

In [87]:
s = pd.Series([1,2,3])
print(s)

0    1
1    2
2    3
dtype: int64

В приведенном примере тип хранимых в s значений: int64.

Или при выводе подробной информации о структуре DataFrame с
помощью метода info(): помимо названий столбцов, информации о
количестве элементов, занимаемой памяти и т.п., выводится тип
хранимых данных по каждому столбцу:

In [88]:
d = [{'name': 'pen', 'price': 3.9, 'count': 8}, {'name': 'book', 'price': 4.5, 'count': 11}]
df = pd.DataFrame(d)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    2 non-null      object
 1   price   2 non-null      float64
 2   count   2 non-null      int64
dtypes: float64(1), int64(1), object(1)
memory usage: 176.0+ bytes

Из приведенной информации видно, что в поле count хранятся
элементы с типом int64, в поле name - с типом object, в поле price - с
типом float64. В этой главе мы более подробно изучим типы
библиотеки pandas и научимся с ними работать.

## 3.1 Типы данных

Основные типы данных, которые используются в pandas, приведены здесь:

#### Тип данных 
int64 
#### Описание
64 разрядное целочисленное значение, не зависит от платформы

#### Тип данных 
float64 
#### Описание
64 разрядное число с плавающей точкой, не зависит от платформы

#### Тип данных 
object
#### Описание
Текст или любое другое значение

#### Тип данных 
bool
#### Описание
Булевое значение: True / False

#### Тип данных 
category
#### Описание
Конечное множество текстовых элементов

#### Тип данных 
datetime64[ns]
#### Описание
Дата / Время

#### Тип данных 
timedelta64[ns]
#### Описание
Разница между двумя datetime элементами

Как правило, вам не нужно явно задавать тип значений, pandas может
самостоятельно вывести тип, но если необходимо его указать или
сделать преобразование типа, то стоит воспользоваться возможностями,
которые библиотека предоставляет.

Информацию об используемых в структуре типах можно получить через
атрибут dtypes. Для структуры df, из примера выше, мы получим
следующий результат:

In [89]:
df.dtypes

name      object
price    float64
count      int64
dtype: object

Атрибут dtype есть у структур DataFrame и Series.

В рамках pandas также можно создавать и использовать типы
расширений. В комплекте с библиотекой идут типы расширений,
представленные далее:

#### Типы расширений pandas

#### Тип Описание
##### DatetimeTZDtype - datetime c поддержкой часового пояса
##### CategoricalDtype - Тип для категориальных данных (конечное множество текстовых элементов)
##### PeriodDtype - Тип для работы с периодическими данными
##### SparseDtype - Тип для работы с разреженными данными
##### IntervalDtype - Тип для работы с интервальными данными

## 3.2 Инструменты для работы с типами

Pandas предоставляет ряд инструментов для работы с типами, под
“работой с типами” мы будет понимать различные операции приведения
типов.

### 3.2.1 astype()

Первый инструмент, который мы рассмотрим — это метод astype(). Он
доступен как для структур Series, так и для DataFrame:

### astype(self, dtype, copy=True, errors='raise', **kwargs)

dtype: тип данных или словарь с именами столбцов
◦ В качестве типа данных для приведения могут быть
использованы numpy.dtype, тип pandas, либо словарь в
формате {col: dtype, ...}, где col - имя столбца, dtype -
желаемый тип данных.

• copy: bool; значение по умолчанию: True
◦ astype будет возвращать копию структуры, если параметр
равен True, в ином случае будет модифицироваться текущая
структура.

• errors: {'raise', 'ignore'}; значение по умолчанию: 'raise'
◦ Управляет процессом выброса исключений:

▪ raise : разрешает выброс исключений;

▪ ignore : игнорирует исключения.

• **kwargs
◦ Аргументы для передачи конструктору.

### Преобразование типов для структуры Series

In [90]:
# Создадим структуру с целыми числами:
s = pd.Series([1,2,3])
s.dtype

dtype('int64')

In [91]:
# Приведем эти данные к типу float64:
s.astype('float64')

0    1.0
1    2.0
2    3.0
dtype: float64

### Преобразование типов структуры DataFrame

In [92]:
d = [{'name': 'pen', 'price': 3.9, 'count': 8}, {'name': 'book', 'price': 4.5, 'count': 11}]
df = pd.DataFrame(d)
df.dtypes

name      object
price    float64
count      int64
dtype: object

In [93]:
# Приведем тип поля 'count' к int32:
df['count'] = df['count'].astype('int32')
df.dtypes

name      object
price    float64
count      int32
dtype: object

### 3.2.2 Функции подготовки данных

Часто возникает задача предварительной подготовки данных перед
выполнением операции преобразования типа. Набор данных для
экспериментов представлен далее:

Набор данных для экспериментов

Таблица 3.3 — Набор данных для экспериментов

In [178]:
df = pd.read_csv('data_2.csv', encoding = 'utf-8')
df

  Температура  Давление Осадки        Дата
0       -8 °C  96292 Па     Да  2019-11-20
1    -10.3 °C  97292 Па     Да  2019-11-21
2     -9.1 °C  96325 Па    Нет  2019-11-22

In [179]:
# Посмотрим на типы:
df.dtypes

Температура    object
Давление       object
Осадки         object
Дата           object
dtype: object

Как вы можете видеть типы всех полей - object, а нам нужно, чтобы в
данные в первом столбце (Температура) были в формате float64, во
втором - int64, в третьем - bool. Если мы попытаемся напрямую
выполнить приведение с помощью функции astype(), то эта операция
завершиться неудачно, так как, например, для температуры, вместе с
интересующим нас численным значением находится единица
измерения. Для решения этой задачи напишем несколько функций
преобразования, которые помогут привести данные к нужному виду:

In [180]:
temper_convertor = lambda x: x.replace('°C', '').strip()
pressure_convertor = lambda x: x.replace('Па', '').strip()
prec_convertor = lambda x: True if x == 'Да' else False

#### Применим созданные функции к элементам структуры:

In [181]:
df['Температура'] = df['Температура'].apply(temper_convertor).astype('float64')
df['Давление'] = df['Давление'].apply(pressure_convertor).astype('int64')
df['Осадки'] = df['Осадки'].apply(prec_convertor)
df.dtypes

Температура    float64
Давление         int64
Осадки            bool
Дата            object
dtype: object

In [182]:
df

   Температура  Давление  Осадки        Дата
0         -8.0     96292    True  2019-11-20
1        -10.3     97292    True  2019-11-21
2         -9.1     96325   False  2019-11-22

### 3.2.3 Вспомогательные функции

Pandas предоставляет вспомогательные функции для преобразования
данных, которые избавляют от необходимости разрабатывать
соответствующие решения самим, таких функций три:
to_numeric() - преобразует данные в числовой тип;
to_datetime() - преобразует данные в тип datetime;
to_timedelta() - преобразует данные в тип timedelta.

#### Загрузим заново подготовленный набор данных:

#### Воспользуемся приведенными выше функциями для преобразования данных:

In [183]:
df['Температура'] = pd.to_numeric(df['Температура'], errors='coerce')
df['Давление'] = pd.to_numeric(df['Давление'], errors='coerce')
df['Дата'] = pd.to_datetime(df['Дата'], errors='coerce')
df.dtypes

Температура           float64
Давление                int64
Осадки                   bool
Дата           datetime64[ns]
dtype: object

In [184]:
df.head()

   Температура  Давление  Осадки       Дата
0         -8.0     96292    True 2019-11-20
1        -10.3     97292    True 2019-11-21
2         -9.1     96325   False 2019-11-22

### 3.2.4 Выборка данных по типу

Для выборки данных по типу используется функция select_dtypes(),
она возвращает DataFrame, построенный из исходного DataFrame’а, в
который будут входить столбцы с типами, указанными в аргументе
#### include, и не будут входит столбцы, типы которых, перечислены в
#### exclude аргументе:

In [185]:
df.select_dtypes(include=['float64', 'int64'])

   Температура  Давление
0         -8.0     96292
1        -10.3     97292
2         -9.1     96325

In [186]:
df.select_dtypes(exclude='datetime64[ns]')

   Температура  Давление  Осадки
0         -8.0     96292    True
1        -10.3     97292    True
2         -9.1     96325   False

## 3.3 Категориальные типы

Категориальные типы данных в pandas похожи по своей сути на
качественные признаки в статистике. Они задаются в виде конечного
набора строковых переменных. В качестве примеров можно привести
следующие:

• цвет: Red, Green, Blue;
• начертание шрифта: Normal, Bold, Italic;
• выравнивание текста: Right, Center, Left.

### 3.3.1 Создание структуры с набором категориальных данных

Рассмотрим варианты создания структуры с элементами категориального типа.

#### Работа со структурой Series

##### Если мы просто создадим структуру Series, без указания типа, то получим набор элементов с типом object:

In [187]:
s = pd.Series(['r', 'r', 'g', 'b'])
s

0    r
1    r
2    g
3    b
dtype: object

##### Если необходимо явно указать, что элементы относятся кbкатегориальному типу, то это нужно сделать через аргумент dtype:

In [188]:
s = pd.Series(['r', 'r', 'g', 'b'], dtype='category')
s

0    r
1    r
2    g
3    b
dtype: category
Categories (3, object): [b, g, r]

### Работа с типом Categorical

Если заранее известна структура категории: набор ее элементов и
порядок, то можно создать объект класса Categorical:

pandas.Categorical(values, categories=None, ordered=None, dtype=None,fastpath=False)

• values : список
◦ Элементы данных. Если дополнительно указывается категория
через параметр categories, то значения не из категории
заменяются на NaN.

• categories : набор уникальных элементов, None; значение по
умолчанию: None
◦ Задает набор значений, которые может принимать элемент
категории. Если равен None, то категория строится по набору
уникальных элементов из параметра values.

• ordered : bool; значение по умолчанию: False
◦ Определяет, является категория порядковой или нет. Если
значение равно True, то категория является порядковой.

• dtype : CategoricalDtype
◦ Тип CategoricalDtype, который используется для категории.

#### Создадим категорию:

In [189]:
colors = pd.Categorical(['r', 'g', 'g', 'b', 'r'])
colors

[r, g, g, b, r]
Categories (3, object): [b, g, r]

#### В этом примере категория была построена по элементам переданных данных, также как и в примере с Series. Укажем явно категорию:

In [3]:
colors = pd.Categorical(['r', 'g', 'g', 'b', 'r'], categories=['r',
'g', 'b'])
colors

[r, g, g, b, r]
Categories (3, object): [r, g, b]

#### Если в наборе данных будут присутствовать элементы, которые не входят в категорию, им будут присвоены значения NaN:

In [4]:
colors = pd.Categorical(['r', 'g', 'g', 'b', 'r', 'y', 'o'], categories=['r', 'g', 'b'])
colors

[r, g, g, b, r, NaN, NaN]
Categories (3, object): [r, g, b]

#### Из объекта Categorical можно построить структуру Series:

In [5]:
colors_s = pd.Series(colors)
colors_s

0      r
1      g
2      g
3      b
4      r
5    NaN
6    NaN
dtype: category
Categories (3, object): [r, g, b]

#### Для очистки данных используется функция dropna():

In [6]:
colors_s = pd.Series(colors).dropna()
colors_s

0    r
1    g
2    g
3    b
4    r
dtype: category
Categories (3, object): [r, g, b]

### Работа со структурой DataFrame

#### По аналогии с Series можно создать DataFrame с категориальными данными:

In [7]:
df = pd.DataFrame({'C1':list('rrg'), 'C2':list('rgb')}, dtype='category')
df

  C1 C2
0  r  r
1  r  g
2  g  b

In [9]:
df.dtypes

C1    category
C2    category
dtype: object

In [10]:
df['C1']

0    r
1    r
2    g
Name: C1, dtype: category
Categories (2, object): [g, r]

### 3.3.2 Порядковые категории

Категориальные данные, о которых шла речь выше, не включают в себя
отношение порядка, то есть для переменных, принимающих значения из
таких категорий невозможно выполнить сравнение “больше-меньше”.
Существуют категории, для которых отношение порядка задается, это
может быть роль в фильме, образование и т.п.

#### Построим набор данных, с определением порядка:

In [11]:
level = pd.Categorical(['h', 'h', 'm', 'l'], categories=['l','m', 'h'], ordered=True)
level

[h, h, m, l]
Categories (3, object): [l < m < h]

Обратите внимание на последнюю строчку, в ней указано как
соотносятся между собой значения элементов категории в отношении
“больше-меньше”. Если мы не укажем параметр ordered=True, то для
такого набора данных нельзя будет выполнить поиск минимального и
максимального элемента:

In [12]:
c_var = pd.Series(pd.Categorical(['r', 'g', 'g', 'b', 'r'], categories=['r', 'g', 'b'], ordered=False))
c_var

0    r
1    g
2    g
3    b
4    r
dtype: category
Categories (3, object): [r, g, b]

In [13]:
c_var.min()
# получим ошибку

TypeError: Categorical is not ordered for operation min
you can use .as_ordered() to change the Categorical to an ordered one

##### TypeError: Categorical is not ordered for operation min
##### you can use .as_ordered() to change the Categorical to an ordered one

#### Для созданного набора level, такую операцию сделать можно:

In [14]:
lev_var = pd.Series(level)
print('min: {}, max: {}'.format(lev_var.min(), lev_var.max()))

min: l, max: h

#### Для непорядковых категорий запрещены сравнения на уровне объектов, например:

In [15]:
c1 = pd.Series(pd.Categorical(['r', 'g', 'b', 'r'], categories=['r','g', 'b'], ordered=False))
c2 = pd.Series(pd.Categorical(['b', 'g', 'g', 'r'], categories=['r','g', 'b'], ordered=False))
c1 > c2
#выдаст ошибку

TypeError: Unordered Categoricals can only compare equality or not

In [ ]:
Если объекты будут содержать данные с элементами типа порядковая категория, то все будет выполнено корректно:

In [16]:
v1 = pd.Series(pd.Categorical(['h', 'm', 'l', 'h'], categories=['l','m', 'h'], ordered=True))
v2 = pd.Series(pd.Categorical(['m', 'm', 'h', 'l'], categories=['l','m', 'h'], ordered=True))
v1 > v2

0     True
1    False
2    False
3     True
dtype: bool

# Глава 4. Работа с пропусками в данных

Часто, в больших объемах данных, которые подготавливаются для
анализа, имеются пропуски. Для того, чтобы можно было использовать
алгоритмы машинного обучения, строящие модели по этим данным,
необходимо эти пропуски заполнить. На вопрос “чем заполнять?” мы не
будем отвечать в рамках данной книги, т.к. он относится больше к теме
машинного обучения и анализа данных. А вот на вопрос “как заполнять?”
мы ответим, и решать эту задачу будем средствами библиотеки pandas,
которая предоставляет инструменты, позволяющие это сделать.

## 4.1 Pandas и отсутствующие данные

Для наших экспериментов создадим структуру DataFrame, которая будет содержать пропуски. 
#### Для этого импортируем необходимые нам библиотеки:

In [ ]:
#from io import StringIO - импортируем на самом верху

#### После этого создадим объект в формате csv. 
CSV - это один из наиболее простых и распространенных форматов хранения данных, 
в котором элементы отделяются друг от друга запятыми:

In [18]:
data = 'price,count,percent\n1,10,\n2,20,51\n3,30,'
df = pd.read_csv(StringIO(data))

#### Полученный объект df - это DataFrame с пропусками:

In [19]:
df

   price  count  percent
0      1     10      NaN
1      2     20     51.0
2      3     30      NaN

В нашем примере, у объектов с индексами 0 и 2 отсутствуют данные в поле 'percent'. Отсутствующие данные помечаются как NaN.

#### Добавим к существующей структуре еще один объект (запись), у которого будет отсутствовать значение в поле 'count':

In [20]:
df.loc[3] = {'price':4, 'count':None, 'percent':26.3}
df

   price  count  percent
0    1.0   10.0      NaN
1    2.0   20.0     51.0
2    3.0   30.0      NaN
3    4.0    NaN     26.3

#### Для начала обратимся к методам из библиотеки pandas, которые позволяют быстро определить наличие элементов NaN в структурах.

Если таблица небольшая, то можно использовать библиотечный метод isnull():

In [21]:
pd.isnull(df)

   price  count  percent
0  False  False     True
1  False  False    False
2  False  False     True
3  False   True    False

В результате мы получаем таблицу того же размера, но на месте
реальных данных, в ней находятся элементы типа bool, которые равны
False, если значение поля не-NaN, либо True в противном случае.

В дополнение к этому, можно посмотреть подробную информацию об объекте, с помощью метода info():

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   price    4 non-null      float64
 1   count    3 non-null      float64
 2   percent  2 non-null      float64
dtypes: float64(3)
memory usage: 128.0 bytes

Из примера видно, что объект df имеет три столбца (count, percent и
price), при этом в столбце price все объекты значимы - не NaN, в
столбце count - один NaN объект, в поле percent - два NaN объекта.

#### Можно воспользоваться следующим подходом для определения количества NaN элементов в записях:

In [23]:
df.isnull().sum()

price      0
count      1
percent    2
dtype: int64

## 4.2 Замена отсутствующих данных

#### Отсутствующие данные объектов можно заменить на конкретные числовые значения с помощью метода fillna().

Для экспериментов будем использовать структуру df, созданную в предыдущем разделе:

In [24]:
df

   price  count  percent
0    1.0   10.0      NaN
1    2.0   20.0     51.0
2    3.0   30.0      NaN
3    4.0    NaN     26.3

In [25]:
df.fillna(0)

   price  count  percent
0    1.0   10.0      0.0
1    2.0   20.0     51.0
2    3.0   30.0      0.0
3    4.0    0.0     26.3

Этот метод не изменяет текущую структуру, он возвращает структуру
DataFrame, созданную на базе существующей, с заменой NaN значений
на те, что переданы в метод в качестве аргумента. Данные можно
заполнить средним значением по столбцу:

In [26]:
df.fillna(df.mean())

   price  count  percent
0    1.0   10.0    38.65
1    2.0   20.0    51.00
2    3.0   30.0    38.65
3    4.0   20.0    26.30

В зависимости от задачи, используется тот или иной метод заполнения
отсутствующих элементов, это может быть нулевое значение,
математическое ожидание, медиана и т.п.

Для замены NaN элементов на конкретные значения, можно
использовать интерполяцию, которая реализована в методе
interpolate(), алгоритм интерполяции задается через аргумент
метода.

## 4.3 Удаление объектов/столбцов с отсутствующими данными

Довольно часто используемый подход при работе с отсутствующими
данными - это удаление записей (строк) или полей (столбцов), в которых
встречаются пропуски.

#### Для того, чтобы удалить все объекты, которые содержат значения NaN воспользуйтесь методом dropna() без аргументов:

In [27]:
df.dropna()

   price  count  percent
1    2.0   20.0     51.0

#### Вместо записей, можно удалить поля, для этого нужно вызвать метод dropna() с аргументом axis=1:

In [28]:
df.dropna(axis=1)

   price
0    1.0
1    2.0
2    3.0
3    4.0

#### Pandas позволяет задать порог на количество не-NaN элементов. 
#### В приведенном ниже примере будут удалены все столбцы в которых количество не-NaN элементов меньше трех:

In [29]:
df.dropna(axis = 1, thresh=3)

   price  count
0    1.0   10.0
1    2.0   20.0
2    3.0   30.0
3    4.0    NaN

# Глава 5. Работа со структурами данных в pandas: удаление, объединение, расширение, группировка

## 5.1 Добавление элементов в структуру pandas

Начнем наш обзор с операции добавления элементов в структуру. Все
действия будут рассмотрены для двух структур: Series и DataFrame. Для
начала создадим структуры, с которыми мы будем работать.

Структура Series:

In [30]:
s = pd.Series([1, 2, 3, 4, 5], ['A', 'B', 'C', 'D', 'E'])

Словарь для DataFrame:

In [31]:
d = {'color':['red', 'green', 'blue'], 'speed': [56, 24, 65],'volume': [80, 65, 50]}

Структура DataFrame:

In [32]:
df = pd.DataFrame(d)
df

   color  speed  volume
0    red     56      80
1  green     24      65
2   blue     65      50

### 5.1.1 Добавление в Series

Добавить новый элемент в структуру Series очень просто, достаточно
указать новый индекс для объекта и задать значение элементу.

#### Добавим в структуру s новый элемент с индексом 'F' и значением 6:

In [33]:
s['F']=6
s

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

### 5.1.2 Добавление в DataFrame

При работе с DataFrame в таблицу можно добавить как дополнительный столбец, так и целую запись. 
#### Начнем со столбца, данная операция очень похожа на добавление элемента в Series: мы указываем в квадратных скобках имя столбца и присваиваем ему список значений для каждой записи:

In [34]:
df

   color  speed  volume
0    red     56      80
1  green     24      65
2   blue     65      50

#### Добавим новый столбец 'type', указав для каждой записи (строки) значение данного поля:

In [35]:
df['type']=['circle', 'square', 'triangle']
df

   color  speed  volume      type
0    red     56      80    circle
1  green     24      65    square
2   blue     65      50  triangle

#### Можно добавить столбец с константным значением:

In [36]:
df['value'] = 7
df

   color  speed  volume      type  value
0    red     56      80    circle      7
1  green     24      65    square      7
2   blue     65      50  triangle      7

В DataFrame можно добавить объект Series как строку. Это действие
относится больше к теме “объединение данных”, но в данном контексте
она уместна:

In [37]:
new_row = pd.Series(['yellow', 34, 10, 'rectangle', 7], ['color','speed', 'volume', 'type', 'value'])
df.append(new_row, ignore_index=True)

    color  speed  volume       type  value
0     red     56      80     circle      7
1   green     24      65     square      7
2    blue     65      50   triangle      7
3  yellow     34      10  rectangle      7

## 5.2 Удаление элементов из структуры в pandas

### 5.2.1 Удаление из Series

Для удаления элементов из структуры Series используется метод
drop(), которому, в качестве аргумента, передается список меток для
удаления. При этом, необходимо помнить, что при использовании
данного метода, по умолчанию, текущая структура не изменяется, а
возвращается объект Series, в котором будут отсутствовать выбранные
метки.

#### Исходное состояние структуры s:

In [38]:
s

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

In [39]:
s_new = s.drop(['A', 'B'])

#### После операции drop(), структура s осталась прежней:

In [40]:
s

A    1
B    2
C    3
D    4
E    5
F    6
dtype: int64

#### Структура s_new содержит все элементы из s за исключением тех, индексы которых были переданы методу drop():

In [41]:
s_new

C    3
D    4
E    5
F    6
dtype: int64

Как видно из примера, структура s не изменилась. Вызов метода drop()
привел к тому, что была создана еще одна структура с именем s_new без
указанных элементов. 

#### Если нужно изменить непосредственно саму структуру, то, дополнительно, необходимо аргументу inplace метода drop() присвоить значение True:

In [42]:
s.drop(['A', 'B'], inplace=True)
s

C    3
D    4
E    5
F    6
dtype: int64

### 5.2.2 Удаление из DataFrame

Для удаления элементов из структуры DataFrame также применяется метод drop(). 
#### Для демонстрации будем использовать объект df, созданный в предыдущем разделе:

In [43]:
df

   color  speed  volume      type  value
0    red     56      80    circle      7
1  green     24      65    square      7
2   blue     65      50  triangle      7

In [44]:
df_new = df.drop([0])
df_new

   color  speed  volume      type  value
1  green     24      65    square      7
2   blue     65      50  triangle      7

In [ ]:
Если необходимо модифицировать саму структуру df, то укажите дополнительно параметр inplace=True:

In [45]:
df.drop([0], inplace=True)
df

   color  speed  volume      type  value
1  green     24      65    square      7
2   blue     65      50  triangle      7

DataFrame - это двумерная таблица, из которой можно удалять не только
строки, но и столбцы. Для этого необходимо указать ось, с которой мы
будем работать, она задается через параметр axis, по умолчанию
axis=0, что означает работу со строками. 
#### Если указать axis=1, то это позволит удалить ненужные столбцы:

In [46]:
df

   color  speed  volume      type  value
1  green     24      65    square      7
2   blue     65      50  triangle      7

In [ ]:
df.drop(['color', 'value'], axis=1, inplace=True)

df

## 5.3 Объединение данных

Pandas предоставляет набор инструментов для решения задачи
объединения данных. В нашем распоряжении имеется возможность
просто объединять структуры в одну без дополнительной обработки,
либо сделать этот процесс более интеллектуальным, задействовав
представляемый pandas функционал.
Мы не будем рассматривать этот функционал отдельно для Series и
DataFrame, все возможности будут показаны только для DataFrame.

### 5.3.1 Использование метода concat

Задачу объединения структур в pandas решает метод concat:

#### pandas.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, copy=True)

Рассмотрим наиболее важные аргументы:

• objs: массив или словарь структур Series, DataFrame или Panel.
◦ Структуры для объединения.

• axis: 0 - строки, 1 - столбцы; значение по умолчанию: 0
◦ Ось, вдоль которой будет производиться объединение.

• join: {'inner', 'outer'}; значение по умолчанию: 'outer'
◦ Тип операции объединения, 'outer' - итоговая структура будет
результатом объединения (логическое ИЛИ) переданных
структур, 'inner' - итоговая структура будет результатом
пересечения (логическое И) переданных структур.

• ignore_index: bool; значение по умолчанию: False
◦ True — не используется значение индекса в процессе
объединения, False – используется.

#### Для начала создадим несколько структур DataFrame:

In [50]:
dfr1 = pd.DataFrame({'a_type':['a1', 'a2', 'a3'], 'b_type':['b1', 'b2','b3'], 'c_type':['c1', 'c2', 'c3']}, index=[0, 1, 2])
dfr1

  a_type b_type c_type
0     a1     b1     c1
1     a2     b2     c2
2     a3     b3     c3

In [51]:
dfr2 = pd.DataFrame({'a_type':['a4', 'a5', 'a6'], 'b_type':['b4', 'b5', 'b6'], 'c_type':['c4', 'c5', 'c6']}, index=[3, 4, 5])
dfr2

  a_type b_type c_type
3     a4     b4     c4
4     a5     b5     c5
5     a6     b6     c6

#### Теперь объединим эти две структуры в одну:

In [52]:
df1 = pd.concat([dfr1, dfr2])
df1

  a_type b_type c_type
0     a1     b1     c1
1     a2     b2     c2
2     a3     b3     c3
3     a4     b4     c4
4     a5     b5     c5
5     a6     b6     c6

#### Создадим ещё одну структуру и объединим ее с первой изменив ось:

In [53]:
dfr3 = pd.DataFrame({'d_type':['d1', 'd2', 'd3'], 'e_type':['e1','e2', 'e3']})
dfr3

  d_type e_type
0     d1     e1
1     d2     e2
2     d3     e3

In [54]:
df2 = pd.concat([dfr1, dfr3], axis=1)
df2

  a_type b_type c_type d_type e_type
0     a1     b1     c1     d1     e1
1     a2     b2     c2     d2     e2
2     a3     b3     c3     d3     e3

#### Для выделения в итоговой структуре составляющие компоненты, используйте параметр keys при объединении:

In [55]:
df3 = pd.concat([dfr1, dfr2], keys=['dfr1', 'dfr2'])
df3

       a_type b_type c_type
dfr1 0     a1     b1     c1
     1     a2     b2     c2
     2     a3     b3     c3
dfr2 3     a4     b4     c4
     4     a5     b5     c5
     5     a6     b6     c6

In [56]:
df3.loc['dfr2']

  a_type b_type c_type
3     a4     b4     c4
4     a5     b5     c5
5     a6     b6     c6

#### Если итоговая структура должна являться результатом объединения (логическое ИЛИ), то параметру join необходимо присвоить значение 'outer'.

In [57]:
dfr4 = pd.DataFrame({'d_type':['d2', 'd3', 'd4'], 'e_type':['e2','e3', 'e4']}, index=[1, 2, 3])
dfr4

  d_type e_type
1     d2     e2
2     d3     e3
3     d4     e4

In [60]:
df4 = pd.concat([dfr1, dfr4], axis=1, join='outer')
df4

  a_type b_type c_type d_type e_type
0     a1     b1     c1    NaN    NaN
1     a2     b2     c2     d2     e2
2     a3     b3     c3     d3     e3
3    NaN    NaN    NaN     d4     e4

#### Если итоговая структура должна являться результатом пересечения (логическое И), то параметру join необходимо присвоить значение 'inner':

In [61]:
df5 = pd.concat([dfr1, dfr4], axis=1, join='inner')
df5

  a_type b_type c_type d_type e_type
1     a2     b2     c2     d2     e2
2     a3     b3     c3     d3     e3

### 5.3.2 Использование Database-style подхода

Суть данного подхода в том, что используется очень быстрый способ
объединения структур данных, который идеологически похож на
операции с реляционными базами данных. В состав pandas входит
функция merge, которая представляет данный функционал:

#### pandas.merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=True, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

Разберем аргументы данной функции (в представленном ниже списке
указаны наиболее часто используемые аргументы):

• left: DataFrame
◦ “левая” DataFrame структура.

• right: DataFrame
◦ “правая” DataFrame структура.

• how: {'left', 'right', 'outer', 'inner'}; значение по
умолчанию: 'inner'
◦ Один из методов объединения: 'left', 'right', 'outer',
'inner':

▪ 'left' - это аналог SQL операции 'LEFT OUTER JOIN' при
этом будут использоваться ключи только из левого
DataFrame.

▪ 'right' - аналог SQL операции 'RIGHT OUTER JOIN' -
используются ключи из правого DataFrame.

▪ 'outer' - аналог SQL операции 'FULL OUTER JOIN' -
используется объединение ключей из правого и левого
DataFrame.

▪ 'inner' - аналог SQL операции 'INNER JOIN' -
используется пересечение ключей из правого и левого
DataFrame.

• on: список
◦ Список имен столбцов для объединения, столбцы должны
входить как в левый, так и в правый DataFrame.

• left_on: список
◦ Список столбцов левого DataFrame, которые будут
использоваться как ключи.

• right_on: список
◦ Список столбцов из правого DataFrame, которые будут
использоваться как ключи.

• left_index: bool; значение по умолчанию: False
◦ Если параметр равен True, то будет использован индекс (метки
строк) из левого DataFrame в качестве ключа(ей) для
объединения.

• right_index: bool; значение по умолчанию: False
◦ Если параметр равен True, то будет использован индекс (метки
строк) из правого DataFrame в качестве ключа(ей) для
объединения.

• sort: bool; значение по умолчанию: False
◦ Если параметр равен True, то данные в полученном DataFrame
будут отсортированы в лексикографическом порядке.

#### Рассмотрим несколько примеров того, как можно использовать функцию merge().

#### Создадим три DataFrame’а:

In [62]:
dfr1 = pd.DataFrame({'k':['k1', 'k2', 'k3'], 'a_type':['a1', 'a2', 'a3'], 'b_type':['b1', 'b2', 'b3']})
dfr1

    k a_type b_type
0  k1     a1     b1
1  k2     a2     b2
2  k3     a3     b3

In [63]:
dfr2 = pd.DataFrame({'k':['k1', 'k2', 'k3'], 'c_type':['c1', 'c2','c3']})
dfr2

    k c_type
0  k1     c1
1  k2     c2
2  k3     c3

In [64]:
dfr3 = pd.DataFrame({'k':['k0', 'k1', 'k2'], 'c_type':['c1', 'c2', 'c3']})
dfr3

    k c_type
0  k0     c1
1  k1     c2
2  k2     c3

#### Объединим их через merge(), в качестве ключа будем использовать столбец k:

In [65]:
dfm1 = pd.merge(dfr1, dfr2, on='k')
dfm1

    k a_type b_type c_type
0  k1     a1     b1     c1
1  k2     a2     b2     c2
2  k3     a3     b3     c3

#### Пример использования how='left':

In [66]:
dfm2 = pd.merge(dfr1, dfr3, how='left', on='k')
dfm2

    k a_type b_type c_type
0  k1     a1     b1     c2
1  k2     a2     b2     c3
2  k3     a3     b3    NaN

#### Пример использования how='right':

In [67]:
dfm3 = pd.merge(dfr1, dfr3, how='right', on='k')
dfm3

    k a_type b_type c_type
0  k1     a1     b1     c2
1  k2     a2     b2     c3
2  k0    NaN    NaN     c1

#### Пример использования how='outer':

In [68]:
dfm4 = pd.merge(dfr1, dfr3, how='outer', on='k')
dfm4

    k a_type b_type c_type
0  k1     a1     b1     c2
1  k2     a2     b2     c3
2  k3     a3     b3    NaN
3  k0    NaN    NaN     c1

#### Пример использования how='inner':

In [69]:
dfm5 = pd.merge(dfr1, dfr3, how='inner', on='k')
dfm5

    k a_type b_type c_type
0  k1     a1     b1     c2
1  k2     a2     b2     c3

# Глава 6. Работа с внешними источниками данных

## 6.1 Работа с данными в формате CSV

CSV (Comma-Separated Values - значения, разделённые запятыми)
является одним из наиболее популярных форматов для хранения
табличных данных, представляет собой текстовый документ, в котором
элементы данных разделены запятыми, а строки файла являются
записями в таблице.

### 6.1.1 Чтение данных

#### Для загрузки данных из CSV файлов в pandas используется метод read_csv().

Количество аргументов в нем достаточно велико, из
наиболее часто используемых можно выделить следующие:

• filepath_or_buffer: str1 (Также возможны: pathlib.Path, py._path.local.LocalPath или любой объект с методом read())
◦ Путь до файла или буфера, который содержит данные в
формате CSV.

• sep: str; значение по умолчанию: ','
◦ Разделитель, по умолчанию он равен ',', т.к. в CSV данные
разделены запятыми. Довольно часто встречается вариант,
когда данные разделяются табуляцией, так называемые TSV-
файлы, если вы используете такой формат, то необходимо
параметру sep присвоить значение '\t'.

• header: int или список int’ов; значение по умолчанию: 0
◦ Номер строки, которая содержит имена столбцов загружаемой
таблицы. По умолчанию header=0. Если header=None, то имена
столбцов можно передать в параметре names.

• names: массив; значение по умолчанию: None
◦ Список имен столбцов таблицы, используется, если в файле нет
строки с именами столбцов и параметр header равен None.

#### Данные в формате CSV можно как непосредственно создавать в Python программе, так и загрузить из файла. 
Начнем с первого варианта. Для начала загрузим необходимые нам библиотеки:

In [ ]:
# import pandas as pd
# from io import StringIO
# эти билиотеки загружены наверху

#### Теперь создадим строку, содержащую данные в формате CSV и построим на их базе DataFrame:

In [70]:
csv_d1 = 'col_A, col_B, col_C\na1, b1, c1\na2, b2, c2'
df = pd.read_csv(StringIO(csv_d1))
df

  col_A  col_B  col_C
0    a1     b1     c1
1    a2     b2     c2

В приведенном выше примере в первой строке набора данных содержатся заголовки колонок таблицы. Но не всегда бывает так. 

#### Ниже приведен случай, когда в таблице с данными нет информации об именах столбцов, эту ситуацию можно исправить, если параметру header присвоить None и передать нужные значения через параметр names:

In [71]:
csv_d2 = 'a1, b1, c1\na2, b2, c2\na3, b3, c3'
df1 = pd.read_csv(StringIO(csv_d2), header=None, names=['type_a','type_b', 'type_c'])
df1

  type_a type_b type_c
0     a1     b1     c1
1     a2     b2     c2
2     a3     b3     c3

#### Если файл с данными в формате CSV находится на диске, то для его загрузки достаточно передать имя файла в качестве первого параметра метода read_csv():

In [72]:
df3 = pd.read_csv('test.csv')
df3

   Name  Age         City
0  Anna   29       Moscow
1  John   21     New-York
2  Ivan   18        Tomsk
3  Mike   32  Los-Angeles

#### В случае, когда размер файла очень большой и его невозможно загрузить за одни раз в память (DataFrame), воспользуйтесь загрузкой по частям. 

#### Для этого нужно в функцию read_csv() дополнительно передать параметр chunksize, через который указывается количество строк, которые нужно считать в рамках одной порции. Такой подход позволяет работать с DataFrame'ами как с итераторами:

In [74]:
df_chunks = pd.read_csv('test.csv', chunksize=2)
for i, chunk in enumerate(df_chunks):
    print(f'Chunk #{i}')
    print(chunk)

Chunk #0
   Name  Age      City
0  Anna   29    Moscow
1  John   21  New-York
Chunk #1
   Name  Age         City
2  Ivan   18        Tomsk
3  Mike   32  Los-Angeles

In [75]:
df_chunks = pd.read_csv('test.csv', chunksize=2)
print(df_chunks.get_chunk())

   Name  Age      City
0  Anna   29    Moscow
1  John   21  New-York

In [76]:
print(df_chunks.get_chunk())

   Name  Age         City
2  Ivan   18        Tomsk
3  Mike   32  Los-Angeles

### 6.1.2 Запись данных

#### Для записи данных в формате CSV используется метод to_csv().

Рассмотрим некоторые из аргументов, которые могут быть полезны:

• path_or_buf: str или handle файла; значение по умолчанию: None
◦ Имя файла или буфера, в котором будут сохранены данные в
формате CSV.

• sep: str; значение по умолчанию: ','
◦ Разделитель элементов данных, по умолчанию sep=','.

• header: bool или список строк; значение по умолчанию: True
◦ Если в качестве значения передается True, то в файл первой
строкой запишутся имена столбцов, взятые из структуры
данных. Если будет передан список строк, то имена столбцов
будут взяты из него.

• encoding: str
◦ Кодировка. Если вы используете Python 3, то по умолчанию она
равна 'utf-8'.

#### Подготовим данные для записи:

In [77]:
csv_data = 'col_A, col_B, col_C\na1, b1, c1\na2, b2, c2'
df = pd.DataFrame(StringIO(csv_data))

#### Теперь запишем содержимое структуры df в файл с именем tmp.csv:

In [78]:
df.to_csv('tmp.csv')

## 6.2 Работа с данными в формате JSON

С развитием и широким распространением языка программирования
JavaScript возросла популярность формата данных, который органически
совместим с этим языком - JSON (JavaScript Object Notation). Подробно
об этом формате можно прочитать в википедии
(https://ru.wikipedia.org/wiki/JSON).

### 6.2.1 Чтение данных

#### Для чтения данных в формате JSON используется метод read_json().

##### Рассмотрим наиболее часто используемые аргументы данного метода:

• path_or_buf: JSON строка или файл; значение по умолчанию:
None
◦ Путь (это может быть как файл на диске, так и URL) до JSON
файла или строка, содержимое которой - корректный JSON.

• orient: str; значение по умолчанию: None
◦ Ориентация, для того, чтобы загружаемый JSON мог быть
преобразован в структуру данных pandas он должен иметь
определенный вид. 

##### Далее представлены возможные значения orient и соответствующий им JSON:

▪ 'split' : словарь со структурой {index -> [index],
columns -> [columns], data -> [values]}

▪ 'records': список со структурой [{column ->
value}, ... , {column -> value}]

▪ 'index': словарь со структурой {index -> {column ->
value}}

▪ 'columns': словарь со структурой {column -> {index ->
value}}

▪ 'values': массив значений.

• typ: тип объекта для записи; значение по умолчанию: 'frame'
◦ Тип структуры pandas, 'series' - это Series, 'frame' -
DataFrame. В зависимости от значения typ, можно использовать
определенные значения orient. Если typ='series', то orient
может быть 'split', 'records' или 'index', если typ='frame',
то orient нужно выбрать из следующего списка: 'split',
'records', 'index', 'columns', 'values'.

#### Сейчас немного потренируемся с чтением JSON файлов и буферов. В зависимости от того, каким образом отформатированы данные в JSON файле или буфере, используется то или иное значение параметра orient метода read_json().

##### orient='split'
##### Для orient='split' формат данных JSON должен выглядеть следующим образом:
{
'columns': ['col_A', 'col_B', 'col_C'],
'index': [0, 1],
'data': [['a1', 'b1', 'c1'], ['a2', 'b2', 'c2']]
}

#### Код для чтения JSON:

In [93]:
json_buf='{"columns": ["col_A", "col_B", "col_C"],"index": [0,1],"data": [["a1","b1","c1"],["a2","b2","c2"]]}'
df1=pd.read_json(json_buf, orient='split')
df1

  col_A col_B col_C
0    a1    b1    c1
1    a2    b2    c2

#### orient='records'
#### JSON данные:

[
{
'col_A': 'a1',
'col_B': 'b1',
'col_C':'c1'
},
{
'col_A': 'a2',
'col_B': 'b2',
'col_C': 'c2'
}
]

#### Код для чтения JSON:

In [96]:
json_buf2='[{"col_A": "a1", "col_B": "b1", "col_C":"c1"}, {"col_A":"a2", "col_B": "b2", "col_C": "c2"}]'
df2 = pd.read_json(json_buf2, orient='record')
df2

  col_A col_B col_C
0    a1    b1    c1
1    a2    b2    c2

#### orient='index'
#### JSON данные:

{
0: {'col_A': 'a1', 'col_B': 'b1', 'col_C':'c1' }
1: {'col_A': 'a2', 'col_B': 'b2', 'col_C':'c2' }
}

### Код для чтения JSON:

In [98]:
json_buf3='{"0": {"col_A": "a1", "col_B": "b1", "col_C":"c1" }, "1": {"col_A": "a2", "col_B": "b2", "col_C":"c2" } }'
df3 = pd.read_json(json_buf3, orient='index')
df3

  col_A col_B col_C
0    a1    b1    c1
1    a2    b2    c2

#### orient='columns'
#### JSON данные:

{
'col_A': {'0': 'a1', '1': 'a2'},
'col_B': {'0': 'b1', '1': 'b2'},
'col_C': {'0': 'c1', '1': 'c2'}
}

#### Код для чтения JSON:

In [99]:
json_buf4='{"col_A": {"0": "a1", "1": "a2"},"col_B": {"0": "b1", "1":"b2"},"col_C": {"0": "c1", "1": "c2"}}'
df4 = pd.read_json(json_buf4, orient='columns')
df4

  col_A col_B col_C
0    a1    b1    c1
1    a2    b2    c2

#### orient='values'
#### JSON данные:

[
['a1', 'b1', 'c1'],
['a2', 'b2', 'c2']
]

#### Код для чтения JSON:

In [100]:
json_buf5='[["a1", "b1", "c1"], ["a2", "b2", "c2"]]'
df5 = pd.read_json(json_buf5, orient='values')
df5

    0   1   2
0  a1  b1  c1
1  a2  b2  c2

### 6.2.2 Запись данных

#### При работе с JSON довольно часто приходится преобразовывать уже готовые структуры данных в этот формат. 
#### Для этого используется функция to_json().

Два самых важных аргумента данного метода - это path_or_buf и orient, их назначение тоже, что и в методе read_json(), только сейчас речь идет о записи данных, т.е. мы указываем файл или буфер, в который будут помещены данные.

#### Возьмем структуру DataFrame из предыдущей части:

In [101]:
d = {'color':['red', 'green', 'blue'], 'speed': [56, 24, 65], 'volume': [80, 65, 50]}
df = pd.DataFrame(d)
df

   color  speed  volume
0    red     56      80
1  green     24      65
2   blue     65      50

#### В зависимости от того, какого вида JSON файл (буфер) мы хотим получить, необходимо параметру orient присвоить соответствующее значение, рассмотрим различные варианты.

In [102]:
# orient='split':
json_split = df.to_json(orient='split')
json_split

'{"columns":["color","speed","volume"],"index":[0,1,2],"data":[["red",56,80],["green",24,65],["blue",65,50]]}'

In [103]:
# orient='records':
json_records = df.to_json(orient='records')
json_records

'[{"color":"red","speed":56,"volume":80},{"color":"green","speed":24,"volume":65},{"color":"blue","speed":65,"volume":50}]'

In [104]:
# orient='index':
json_index = df.to_json(orient='index')
json_index

'{"0":{"color":"red","speed":56,"volume":80},"1":{"color":"green","speed":24,"volume":65},"2":{"color":"blue","speed":65,"volume":50}}'

In [105]:
# orient='columns':
json_columns = df.to_json(orient='columns')
json_columns

'{"color":{"0":"red","1":"green","2":"blue"},"speed":{"0":56,"1":24,"2":65},"volume":{"0":80,"1":65,"2":50}}'

In [106]:
# orient='values':
json_values = df.to_json(orient='values')
json_values

'[["red",56,80],["green",24,65],["blue",65,50]]'

## 6.3 Работа с Excel файлами

Рассмотрим базовые возможности, которые предоставляет pandas для
работы с Excel-файлами.

### 6.3.1 Чтение данных

#### Для чтения данных используется метод read_excel(). 
Он может работать как с файлами в формате Excel 2003 (расширение .xls), так и с файлами в формате Excel 2007 (расширение .xlsx). 
#### Для экспериментов создадим Excel-файл в формате Excel 2003 с именем “test.xls”, добавим в него два листа “Sheet1”, “Sheet2” (см. таблицы 6.1 и 6.2).